[2019-03-05 14:34] hanayik opened #1 "metal version not retina"
Hi @neurolabusc,

Just downloaded the latest release in this repo. The metal version appears to not be rendering the UI widgets in retina quality on mac OS 10.14.3. I tried the both the intel UHD graphics and the dedicated Radeon 560X. I imagine this is still experimental, so just thought I'd show what it's doing on my system.

screen shots attached.

## metal

<img width="1145" alt="metal" src="h

[2019-07-18 14:56] neurolabusc opened #2 "Windows Bitmap Saving"
Fix [Windows OS issue saving bitmaps](https://www.nitrc.org/forum/message.php?msg_id=27232).

[2019-07-18 14:58] #2 closed

[2019-07-18 15:01] neurolabusc opened #3 "Loading progress for Windows"
For MacOS and Linux, MRIcroGL will report progress for loading volumes in the terminal. However, this is not the case with [Windows](https://www.nitrc.org/forum/message.php?msg_id=27232). 3D images are often slow to load relative to 2D images due to file size and cache proximity between slices. Therefore, interactive information during loads would be useful.

[2019-09-05 17:38] neurolabusc opened #4 "Add Overlay (remove small clusters)"
MRIcroGL 1.0 had a menu item "Add Overlay (remove small clusters)" - it would be nice to include this in MRIcroGL 1.2. In the meantime, users can use the Matlab script [nii_threshreslicecluster.m](https://github.com/rordenlab/spmScripts/blob/master/nii_threshreslicecluster.m).

Suggested by [Jake](https://www.nitrc.org/forum/forum.php?thread_id=10532&forum_id=4441).

[2019-09-10 12:24] da-wi commented on #4
Thank you very much for the matlab script. I second the request to bring back the "remove small clusters" option for overlays!

[2019-09-10 12:53] neurolabusc opened #5 "Orientation Cube be marked S\I\A\P\L\R"
Text in addition to colors for Orientation Cube (e.g. S\I\A\P\L\R). Suggested by [las nikolay](https://www.nitrc.org/forum/forum.php?thread_id=10375&forum_id=4441).
![textcube](https://user-images.githubusercontent.com/8930807/64615375-6db42600-d3a8-11e9-929d-c43124935950.png)

[2019-09-10 13:02] neurolabusc opened #6 "10cm Ruler"
Many DICOM viewers include 10cm rulers. Add "Ruler" checkbox to "2D Slice Selection" tools to show/hide ruler when in 2D slice view.
![clusters](https://user-images.githubusercontent.com/8930807/64615982-8ffa7380-d3a9-11e9-9bc7-432f09d34c4f.png)

[2019-09-10 13:06] neurolabusc commented on #4
@da-wi if you have MacOS, you can test out this [beta version](https://drive.google.com/file/d/1_Elbf5bjQ_Q7vgcjxywRCls5o-OxAund/view?usp=sharing). You can cluster-threshold any layer using the "Option" menu.

![clusters](https://user-images.githubusercontent.com/8930807/64616204-16af5080-d3aa-11e9-8f9d-d7f08896733c.png)

[2019-09-10 13:10] neurolabusc commented on #3
The latest stable version [(v1.2.20190902)](https://github.com/rordenlab/MRIcroGL12/releases) can load many images dramatically faster. Some image intensity scaling is accelerated with SSE, some gradient updates are deferred. While 3D images are necessarily slow, this release reduces the lag. Loading progress is hard to estimate as disk speed, CPU decompression, GPU gradient estimation are all req

[2019-09-11 09:35] da-wi commented on #4
@neurolabusc thanks for the fast reply, unfortunately we don't run any MacOS machines in our lab, but only Windows. So far, the MATLAB tresholding workaround is working fine.

[2019-09-26 14:18] CGSchwarzMayo opened #7 "Nifti Image loading fails if the file path contains /atlases/"
Version 1.2.20190902+
Tested in both windows and linux release builds.

Attempting to open any nifti image I have lying around will fail (pixelated image and color scale locked to rainbow) if the directory path contains the string /atlases/
![image](https://user-images.githubusercontent.com/38332171/65695985-1a93d180-e03e-11e9-8542-703cd4d60900.png)

The /atlases/ string can occur anywhere in the

[2019-09-26 15:32] neurolabusc commented on #7
A feature of MRIcroGL 1.2 is that it will load a NIfTI image as a labeled map, using the FSL random color scheme and nearest neighbor interpolation if it is in a folder named "Atlases" a good example are the "Resources/Atlases" images provided with the software. In the past, one had to set the NIfTI intention, which frustrated many users. I will evaluate whether to retain this feature for future r

[2019-09-26 15:57] CGSchwarzMayo commented on #7
Thanks for your explanation. I'm not sure I like the behavior that the name of the file path causes it to be loaded differently, but I can understand where this could be at least more transparent to users than nifti intent codes. Perhaps there could be an option to manually change the interpolation and random scheme if the default "guess" based on name/path was not what the user wanted?

Part of w

[2019-09-26 18:02] neurolabusc commented on #7
Well spotted. This will be fixed in the next release. I would recommend that atlas label maps be saved as integer rather than floating point images. I like this [page](https://blogs.mathworks.com/cleve/2017/05/08/half-precision-16-bit-floating-point-arithmetic/) on the features of floating point numbers.
  Internally, MRIcroGL natively supports UINT8, INT16 and FLOAT32 datatypes. INT8 is losslessl

[2019-09-26 19:59] CGSchwarzMayo commented on #7
I agree with you that char would be more appropriate for this particular image, and I should probably change the ones in MCALT. But I'm glad that you will fix the NN interpolation for these images in a future release. It may not be ideal but I think it is very common for users to create or encounter such "up-casted" images in the wild.

[2019-09-26 20:26] #7 closed

[2019-09-27 11:14] neurolabusc commented on #7
I agree on all points. Just to clarify
 1. MRIcroGL 1.2 will determine that a volume is an labeled atlas rather than a scalar volume if either one of these two attributes is true:
  a. The image NIfTI intention field is set to `labels`.
  b. The path of the image contains a folder named `atlases`. While this might seem arbitrary, this allows MRIcroGL to automatically detect the FSL atlases (which

[2019-09-27 13:58] neurolabusc commented on #6
Included with v1.2.20190902+

[2019-09-27 13:58] #6 closed

[2019-09-27 13:59] neurolabusc commented on #5
Included with v1.2.20190902+

[2019-09-27 13:59] #5 closed

[2019-09-27 13:59] #3 closed

[2019-09-27 14:01] neurolabusc commented on #4
@dw-wi can you re-download the Windows release from [NITRC](https://www.nitrc.org/projects/mricrogl) - this should provide v1.2.20190902+ for Windows, Linux and MacOS. Please test as this is an experimental feature.

[2019-09-27 14:01] #4 closed

[2019-10-04 15:02] neurolabusc commented on #4
@da-wi I have updated the main downloads, which should report [v1.2.20190902++](https://www.nitrc.org/projects/mricrogl/). This version corrects to replaced volume size. I describe it [here](https://www.nitrc.org/plugins/mwiki/index.php/mricrogl:MainPage#Cluster_Thresholds), including a scripting example.

[2019-10-22 16:35] orange-swan opened #8 "Opening multiple windows"
Hello!

I‘m using MRIcroGL on macOS 10.14.6. Is it the intended behavior, that opening multiple images side by side (multiple windows) is a bit complicated? If MRIcroGL is open, double clicking another file in the Finder doesn‘t open it in a new window, but instead uses the existing one. I have to manually open a new window from the menu (as there‘s no shortcut for it) and then open the file I wan

[2019-10-22 16:58] neurolabusc commented on #8
This is a feature of using MacOS. With Linux and Windows you can launch separate instances from the file explorer. Perhaps in the next release we could add a shortcut like Shift+Command+N to open a new window.

[2019-11-23 04:05] yehman opened #9 "Color when saving as bitmap becomes blue"
Somehow, whenever I use the save as bitmap function, images come out with blue tint, especially for overlay images.  Attached are the screenshot of the console, and the image generated with save as bitmap.

I'm using the precompiled MRIcroGL 1.2.20190902++ GTK2 on Linux.  Load up any image and overlay, and overlay color will come out with blue tint when saved as bitmap.

Screenshot:
![Screenshot f

[2019-11-25 16:41] neurolabusc commented on #9
Acknowledged, specific to Linux. Will be resolved in next release.

[2019-12-09 11:42] xychen-ION opened #10 "Loading other parcellation atlas with "random rainbow" colorbar"
Hi,

I am using the released version of MRIcroGL for windows, great software!

MRIcroGL can load some built-in parcellations, such as AAL, and it will automatically use  the digitalized  "random rainbow" colorbar for parcellation visualization.

Here, I want to use other non-built-in parcellation and to visualize the appearance of this parcellation. However, the "random rainbow" colorbar is not ac

[2019-12-09 12:31] neurolabusc commented on #10
MRIcroGL will load atlases using a random color scheme and will use nearest-neighbor interpolation (e.g the border between area 17 and area 19 should not be labeled "18"). There are two ways to do this, either will work:
 1. Put the files you want to have viewed in this mode into a folder named "Atlases"
 2. Set the "Intention" of the image to "Labels". Assuming your image is saved as ".nii" (if i

[2019-12-09 14:04] xychen-ION commented on #10
It works! Thanks for your help!

[2019-12-09 16:30] #10 closed

[2019-12-19 17:44] ludovicc opened #11 "Error on startup on Ubuntu"
Hello,

Using the latest release of MRIcroGL, I have the following message on startup:
[code]
Then the display looks incomplete:

![Capture d’écran de 2019-12-19 18-43-05](https://user-images.githubusercontent.com/104937/71196036-72358800-228f-11ea-80f8-14b333861d75.png)

I'm using Ubuntu 18.04

Thanks for your help.

[2019-12-19 20:27] neurolabusc commented on #11
Can you report the results of running these commands from the terminal:

[code]

In particular, I am wondering if you are running an NVidia graphics card that is using the Mesa/noveau graphics driver instead of the NVidia graphic driver. The NVidia graphics driver is more compatible and has [much higher performance]( https://www.phoronix.com/scan.php?page=article&item=nouveau-summer-2018&num=1).

[2019-12-20 09:39] ludovicc commented on #11
Thanks @neurolabusc for the detailed diagnostic assistance. I'm running MRIcroGL on a VMWare virtual machine, and there seem to be some issues with the OpenGL support, and MRIcroGL is stumbling onto those issues. Here are the details that you requested:

[code]

[code]
[code]

[code]

[code]

[code]

[code]

[code]

[2019-12-20 13:56] neurolabusc commented on #11
Can you try the [v1.2.20191219 pre-release](https://github.com/rordenlab/MRIcroGL12/releases/tag/v1.2.20191219)?

MRIcroGL is really designed to exploit your graphics card, so I am not sure the Mesa emulation will prove acceptable. With my VirtualBox I am able to have a shared drive with the local host, which allows me to run MRIcroGL on the native machine rather than the virtual machine. Also, ta

[2019-12-30 12:30] ludovicc commented on #11
Thanks @neurolabusc, I managed to get MRIcroGL working using an ssh connection with graphics (ssh -X -Y server.name). It's still not working using a remote desktop connection with X2go, I will keep you posted if I found a solution.

[2019-12-30 12:30] #11 closed

[2020-03-07 16:33] #8 closed

[2020-03-22 20:49] TheChymera opened #12 "Cannot compile as simplelaz file is missing"
I am trying to compile this package, and the README indicates this should be done via the same command line script as MRIcroGL-1.0.

I use:

[code]

and get:

[code]

The README also mentions a “Run” command, but I cannot find one inside the source code:

[code]

[2020-03-22 21:52] neurolabusc commented on #12
The command line
`lazbuild -B --lazarusdir="/usr/share/lazarus/" --pcp="system-lazarus-config" simplelaz.lpi`
looks like MRIcroGL1.0, for MRIcroGL1.2 the file is 'MRIcroGL.lpi'. I have never seen the other options. On my Linux machine I can compile with `lazbuild -B MRIcroGL.lpi` for the GTK2 interface, or `lazbuild -B --ws=qt5 MRIcroGL.lpi` for QT5. You might also be able to compile to GTK3, but

[2020-03-22 22:46] TheChymera commented on #12
The other options are to make sure that it works with a system-wide lazarus install. I am using `=lazarus-2.0.6`.

Using

[code]

I get:

[code]

Apparently this is the python4lazarus issue I [reported for MRIcroGL 1.0](https://github.com/neurolabusc/MRIcroGL/issues/34). As for qt5/gtk3, as discussed per email, I am indeed concerned about that, but for the time being I'm looking to just get it to

[2020-03-25 11:01] neurolabusc commented on #12
@TheChymera I have updated the README.md. Please tell me if these commands work on your distribution. Also, I have updated notes on deployment, e.g. more features if the executable can find the `Resources` folder.

[code]

[2020-03-25 12:32] neurolabusc opened #13 "GTK3 issues"
The upcoming release of MRIcroGL for Linux will target the GTK2 and QT5 widget sets. The following (fixable) issues remain:
 1. [Color dialog](https://bugs.freepascal.org/view.php?id=36416) not functional.
 2. [Copy text to clipboard not functional](https://bugs.freepascal.org/view.php?id=36348)
 3. [Spin Edits have issues with high-DPI displays](https://bugs.freepascal.org/view.php?id=34473)

An

[2020-03-26 04:25] TheChymera commented on #12
@neurolabusc can I install MRIcroGL1.2 without having `python4lazarus`?

[2020-03-26 11:32] neurolabusc commented on #12
The following compiles for me:

[code]

The resulting executable will be built without the scripting menu. The resulting user experience may be substandard. The Scripting/Templates menu item is useful to illustrate capabilities. Scripts are nice to ensure replicable figures. Scripts can be called by other tools. For example, my command line script [figures.py](https://osf.io/xvguw/) uses MRIcroGL

[2020-03-27 05:27] TheChymera commented on #12
@neurolabusc ok, so I am now using the latest commit 6979db2afb169523d198e973e9033b1c89ddd40b according to your instructions, and compilation does not complete, with the following [build.log](https://github.com/rordenlab/MRIcroGL12/files/4391633/build.log).

I think the issue might be

[code]

But I'm really not sure. Any ideas?

I'll look into python4lazarus as soon as I have this more minimal ve

[2020-03-27 09:08] neurolabusc commented on #12
I just created a clean install of Ubuntu 20.04 and with Lazarus trunk I was able to run

[code]
Are you sure you included Metal-Demos - it includes SimdUtils. From inside the MRIcroGL folder you should be able to see the unit with the relative  ls command `MRIcroGL12$ ls ../Metal-Demos/common`.
 In other words, if you have the folder ~/MRIcroGL12, you should also have the file ~/MetalDemos/common/

[2020-03-27 09:30] TheChymera commented on #12
Perhaps the problem is that I don't have those exact directory names. Since I am trying to package this as a static version which can specifically be referenced and installed, I'm not just cloning the current HEAD, and the directories are named according to the specific hashes. Will they then no longer be auto-detected? And if so, is there anything simpler I can do than just rename them?

[code]

[2020-03-27 09:47] neurolabusc commented on #12
That would explain your issue. You can simply edit the lpi file. This is a simple xml file, so it should be easy to automate this. You need to provide the location to the Metal-Demos common folder. By default it is:
[code]
So for you it would be

[code]

You can ignore the static folder - that is an optional acceleration specific to the Windows operating system,

[2020-03-29 00:33] TheChymera commented on #12
@neurolabusc ok, that worked, thank you :)

I'll leave this open in case I want to include python4lazarus support.

[2020-03-29 00:36] TheChymera opened #14 "Location of installed files"
Having compiled and installed the following files:

[code]

I get lots of issues from MRIcroGL, and while the interface starts, it's not able to do much (I can try to do a video recording if the exact behaviour is of interest to you).

I am assuming perhaps MRIcriGL does not find the files under `/usr/share/MRIcroGL` (which would be the correct place to install them according to the [FHS](https://

[2020-03-29 07:00] TheChymera commented on #14
@neurolabusc here's a video of what's going on: http://chymera.eu/debug/mricrogl/resources.mp4

[2020-03-29 10:52] neurolabusc commented on #14
The README.md notes that `/usr/local/share/MRIcroGL/Resources` is one of the searched locations. I will add `/usr/share/MRIcroGL`, but can you test out the methods noted in the documentation (e.g. either `/usr/local/share/MRIcroGL/Resources` or setting the environment variable `MRICROGL_DIR=/usr/share/MRIcroGL`).

[2020-03-29 11:59] neurolabusc commented on #14
I have updated the [README.md](https://github.com/rordenlab/MRIcroGL12) section `Deploying MRIcroGL` to describe the more exhaustive search for the Resource directory. The changes to source code are made to the shared [Metal-Demos](https://github.com/neurolabusc/Metal-Demos) files, so make sure you update your Metal demos when you recompile.

[2020-03-29 12:04] neurolabusc commented on #12
Did you try explicitly downloading and building Python? I do think the user experience will be substandard without this. If lazbuild fails with the script below, I would open a [python4lazarus](https://github.com/Alexey-T/Python-for-Lazarus/tree/master/python4lazarus) issue.

[code]

[2020-03-29 12:29] #13 closed

[2020-03-30 01:11] TheChymera commented on #14
@neurolabusc are you sure you added `/usr/share/MRIcroGL` to the directories? both in the [respective commit](https://github.com/neurolabusc/Metal-Demos/commit/1ef0a4bb655a3d1026ea4fc9c4d87eb9c98d0aaf), and having built MRIcroGL with the latest Metal-Demos, I only see it looking under `/usr/local/share/MRIcroGL`.

`/usr/local` is pretty nonstandard and not really used by any other packages:

[code

[2020-03-30 10:28] neurolabusc commented on #14
Added `/usr/share` to search path. Where does your Linux distribution install FSL?

[2020-03-30 12:01] TheChymera commented on #14
This is our file list for fsl:
[fsl_flielist.txt](https://github.com/rordenlab/MRIcroGL12/files/4402506/fsl_flielist.txt)

[2020-03-30 13:02] neurolabusc commented on #14
Wow, so your $FSLDIR is `/usr/bin`, not `/usr/local/fsl`. Tell me if the latest modifications resolve your issues.

[2020-03-30 22:42] TheChymera commented on #14
@neurolabusc yes, we install FSL so that it more-or-less respects the FHS. Ofc it would have been better if upstream fixed the issue themselves, but being such a large project the fix is not as easy as here and the project moves more slowly. The core issue which the FSL developers were trying to mitigate by having their own directories, is that they have very many executables whose names would pot

[2020-03-30 22:42] #14 closed

[2020-03-30 23:10] TheChymera commented on #12
@neurolabusc having solved the previous issue, I also enabled python-for-lazarus, and it builds fine. thanks! :)

[2020-03-31 19:51] neurolabusc commented on #12
Great. I have just pushed a new release (v1.2.20200331). I would suggest that MRIcroGL is installed with the latest version of dcm2niix (v1.0.20200331). If MRIcroGL finds dcm2niix, the user will be able to use the Import menu to convert DICOM data, and drag-and-drop DICOM images for quick viewing.

Please close this issue if this resolves your issues.

[2020-03-31 19:51] neurolabusc commented on #9
Fixed in latest release (v1.2.20200331)

[2020-03-31 19:51] #9 closed

[2020-04-01 13:48] irxugen opened #15 "Warning, not all volumes loaded"
Hi, I hope this is the right place to ask for help.

I'm using the latest precompiled version and whenever I try to open 4D nii.gz files (from bold fmri runs), a little window pops up, with the message "**Warning: Loaded X out of 527 volumes**".

Some more details:
- When I convert my DICOMS to a nii.gz using dcm2niix, MRIcroGL manages to load the first 30 out of the 527 volumes.
- When I try to v

[2020-04-01 14:04] neurolabusc commented on #15
In the Preferences window you have a checkbox named "Only initial volumes (load 4D series faster)". If this option is checked, only the first images are loaded, which is faster and it will require less RAM. If this option is unchecked, the entire 4D volume will be loaded. It is up to you which option you prefer.

I am surprised the fmriprep is supersampling the data to be so large. You may want to

[2020-04-01 14:47] irxugen commented on #15
Thanks a lot for the quick answer!
Yes, I was already wondering. I'm pretty new to this field and am still learning. Will definitely go check for that.

[2020-04-01 14:47] #15 closed

[2020-04-24 05:56] apiccirilli opened #16 "Background transparent in bitmaps preference resets"
On macOS 10.15, the option for "Background transparent in bitmaps" always resets back to false on reopening MRIcroGL. In MRIcroGL.ini, there is no ScreenCaptureTransparentBackground field, and adding that field manually to the ini file has no effect (ScreenCaptureTransparentBackground=1 in the [BOOL] section).

[2020-04-24 18:09] #12 closed

[2020-04-24 18:16] neurolabusc commented on #16
Acknowledged. I have uploaded an updated version named [MRIcroGL_macOS_issue16.dmg
](https://github.com/rordenlab/MRIcroGL12/releases/tag/v1.2.20200331) for MacOS. The bitmap transparency preferences are now persistent.

In addition to using the Prefernces window, you can now also set this property using in Python scripts using the gl.bmptransparent() function to make the background opaque (0) or

[2020-05-12 18:55] grandjeanlab commented on #16
Hi Chris.
could we have this option for other versions too (esp. Linux)?
current version returns: AttributeError: module 'gl' has no attribute 'bmptransparent'

[2020-07-08 15:26] neurolabusc commented on #16
Included in pre-release and subsequent [releases](https://github.com/rordenlab/MRIcroGL12/releases).

[2020-07-08 15:26] #16 closed

[2020-07-08 15:49] neurolabusc opened #17 "Interpolating Thresholded Images"
As reported by [Marcus Heldmann](https://www.nitrc.org/forum/forum.php?thread_id=11482&forum_id=4442) adding statistical overlays that have thresholded by SPM12 can look slightly eroded when saved as 32-bit float relative to saving as 16-bit integer. This only occurs when overlay loading is smoothed `(Load Smooth Overlays` in Options button menu is checked), and only for maps from SPM, not other t

[2020-10-07 16:56] neurolabusc commented on #17
SPM users may find [this script](https://github.com/rordenlab/spmScripts/blob/master/nii_reslice_target_thresh.m) useful:  it. interpolates the image to the target resolution PRIOR to applying the threshold. This will preserve more information.

This issue is also described in the Cluster Thresholds example in the [MRIcroGL](https://www.nitrc.org/plugins/mwiki/index.php/mricrogl:MainPage#Cluster_T

[2020-10-08 16:34] tfettrow opened #18 "Scripting RBG colors"
How can specify an ROI color with the input of RGB values, instead of using the "colorname"?

[2020-11-04 17:48] neurolabusc commented on #18
If you download the [new version (v1.2.20201102)](https://github.com/rordenlab/MRIcroGL12/releases/tag/v1.2.20201102) you will find a couple ways to. do this.

First, you can modify an existing color scheme - the existing grayscale colorscheme is used here. By default, it has three nodes (black, gray, white). Here I set these to Green (RGB 0,100,0), Cyan (RGB0, 100,200) and yellow (RGB 250,250,170

[2020-11-04 17:48] #17 closed

[2020-12-10 15:39] SiriusHou opened #19 "Convert PAR/REC to Nifti"
I downloaded MRIcroGL 2-Novemember from https://www.nitrc.org/projects/mricrogl to convert PAR/REC file into Nifti format. Now, I got stuck with a problem. When I tried to convert a PAR/REC file into Nifti format, the MRIcroGL doesn't work. The error message is as below.
![image](https://user-images.githubusercontent.com/20582047/101793716-197c8200-3ad4-11eb-8613-8e6c9733975b.png)

However, if I m

[2020-12-10 15:46] neurolabusc commented on #19
See my comments for [dcm2niix issue 461](https://github.com/rordenlab/dcm2niix/issues/461). If you can share an image via GoogleDrive/Box/etc (send link to email in my avatar) I can provide feedback. Otherwise, feel free to modify the dcm2niix code and generate a pull request. I do not have access to Philips equipment, so my support for this format is limited.

[2020-12-10 16:45] SiriusHou commented on #19
Thank you for your rapid reply. I will try your suggestion to see if I can work around. Thanks a lot!

[2020-12-10 18:23] neurolabusc commented on #19
@SiriusHou I have moved this issue to [dcm2niix](https://github.com/rordenlab/dcm2niix/issues/462). Can you download the latest build from AppVeyor and see if replacing the copy of dcm2niix in you \MRIcroGL\Resources folder with the latest commit resolves your issue? Thanks!

[2020-12-10 18:23] #19 closed

[2020-12-10 19:19] SiriusHou commented on #19
The problem is fixed! Thank you!

[2021-01-06 16:54] #18 closed

[2021-02-18 21:39] pmediano opened #20 "Python scripting broken with Python 3.9"
As per the title. Using the latest pre-compiled Linux release, opening or trying to run any script (either through the GUI or the command-line options) makes this error pop out:

[code]

And then MRIcroGL proceeds to fail abruptly with an access violation. This is probably because `PyImport_Cleanup` has been [removed after Python 3.8](https://docs.python.org/3/whatsnew/3.9.html#removed). Just to d

[2021-02-19 14:17] neurolabusc commented on #20
Thanks. This will be fixed in the upcoming release which now uses [Python27-for-Lazarus](https://github.com/neurolabusc/Python27-for-Lazarus).

[2021-03-03 18:04] hanayik opened #21 "add new option to not modulate alpha by voxel value?"
MRIcroGL version: 1.2.20200707e Cocoa x86-64

@neurolabusc , some regions with low integer values in atlases rendered in 3D mode appear more transparent than high integer label regions.

For example, an atlas image with integer labels ranging from 1-140 (background == 0) will render regions with low values (1,2,3...) as more transparent.

Would it be possible to add a toggle setting in preferences

[2021-03-04 03:23] neurolabusc commented on #21
@hanayik this is an issue with FSL not MRIcroGL. The NIfTI header does not correctly specify the `intent_code` as [NIFTI_INTENT_LABEL](https://nifti.nimh.nih.gov/pub/dist/src/niftilib/nifti1.h). If this is set, the image will be displayed correctly with MRIcroGL. Please fix upstream.

![atlas](https://user-images.githubusercontent.com/8930807/109906639-b96e2580-7c55-11eb-9674-be2497f80545.png)

[2021-03-04 10:52] hanayik commented on #21
Nice, that's an easy solution! Thanks @neurolabusc!

[2021-03-04 10:52] #21 closed

[2021-03-27 11:13] #20 closed

[2021-04-15 14:17] msarvestani opened #22 "Add visible x,y,z coordinates in render view"
It would be very useful to be able to see live x,y,z coordinates of a mouse click in render view. Thanks!

[2021-06-22 22:19] TheChymera opened #23 "Issues building =mricrogl-1.2.20210317"
Hi, I'm trying to build the currently latest version (1.2.20210317) and I get this build error: [build.log](https://github.com/rordenlab/MRIcroGL/files/6697690/build.log).

I think it could be a missing file?

[code]

I am using `=fpc-3.2.2` and `=lazarus-2.0.12`.

[2021-06-23 11:15] neurolabusc commented on #23
Please read the [Compiling with the Command Line](https://github.com/rordenlab/MRIcroGL) section of the home page. Specifically, MRIcroGL graphical components like the colorer, fonts, etc are built from the [Metal-Demos](https://github.com/neurolabusc/Metal-Demos) modules. Another complexity is that I want to maintain support for older operating systems which use Python 2.7, so you need to use my

[2021-06-23 17:34] neurolabusc commented on #22
@msarvestani  I have added experimental support for this feature. Do you prefer Windows, Linux or MacOS? I can create a copy for you to try out.

[2021-06-23 19:31] msarvestani commented on #22
windows please. Thanks so much!

[2021-06-25 18:31] #23 closed

[2021-06-25 18:57] neurolabusc commented on #22
@msarvestani please try the experimental [release v1.2.20210624](https://github.com/rordenlab/MRIcroGL/releases/tag/v1.2.20210624).

[2021-06-27 14:06] msarvestani commented on #22
Thanks! Will try and let you know.

[2021-06-29 14:53] hanayik commented on #22
@neurolabusc, Just saw this and downloaded to try out. It's so nice! It would be great to have the cut-out only apply to the 3D render and leave the 2D slices intact. Happy to try and make a pull request if you can point me in the right direction.

[2021-06-29 15:43] neurolabusc commented on #22
This is a consequence of the fact that the cutout is physically removed from the volume and the gradients are re-computed. This helps the user grasp the orientation of the three planes, emphasizing the crease where the planes join.

The alternative would be to have the cutout detected by the shader - this is in fact what we do with the clip plane. My rationale is that the clip plane is a single pl

[2021-07-16 19:21] msarvestani commented on #22
Thanks Chris, this is exactly what I needed. If it's okay I'll share with collaborators.

[2021-07-16 19:27] neurolabusc commented on #22
Sure, the pre-release is available for whoever wants to try it.

[2021-07-16 19:39] #22 closed

[2021-08-16 12:13] neurolabusc opened #24 "Depth Picking and Render View Cross Hairs"
This is a [feature request](https://www.nitrc.org/forum/forum.php?thread_id=12643&forum_id=4442) to be able to both display cross hairs on the render view and allow mouse clicks on the render view to change the cross-hair position to the location of a mouse click (see [issue 22](https://github.com/rordenlab/MRIcroGL/issues/22)).

[2021-08-16 13:41] neurolabusc commented on #24
The pre-release [v1.2.20210816](https://github.com/rordenlab/MRIcroGL/releases/tag/v1.2.20210816) provides a solution, the method employed is described [here](https://github.com/rordenlab/MRIcroGL/tree/master/DepthPicking)

[2021-08-23 22:45] ejstephens commented on #24
Thank you so much - that is exactly the feature that we were using MRIcro for when producing SEEG implantation maps.

[2021-08-23 22:48] ejstephens commented on #24
I'm sure it's already being worked on, but when I attempted to open a window with a rendered view only the window crashed out. We would usually have multiple windows of the same scan with different render views (left/right hemisphere, above/below brain,  sagittal cut out at level of hippocampus left/right) and also a 3-plane view - so when I tried to test opening a series of windows I discovered t

[2021-08-24 12:03] neurolabusc commented on #24
I can not replicate this issue. Can you please provide the following details.

1. What details are reported about your computer operating system and graphics driver when you choose the 'About' window. I attempted to replicate your problem on an Apple MacBook Air M1 with macOS 11.5.1. The about window reports:

[code]

2. Provide the steps to reproduce a crash. Here is what I tried:
 - Launch MRIcr

[2021-08-30 20:19] neurolabusc commented on #24
Closing this issue. @ejstephens  I was unable to replicate your issues. I tried macOS, Windows and Linux OSes, x86-64 and ARM CPUs, and NVidia, Intel and Apple CPUs. Without any more details, I can not explain your issue.

[2021-08-30 20:19] #24 closed

[2021-09-16 20:08] neurolabusc opened #26 "Debian installer"
@ghisvail,  @mih, and @yarikoptic:

I am wondering if you can give me feedback on my first attempt at a Debian package. This uses your advice [from this issue](https://github.com/rordenlab/dcm2niix/issues/534) and attempts to copy your prior work with the neurologist-debian micron package.

 - Experimental deb files are [here](https://github.com/rordenlab/MRIcroGL/releases/tag/v1.2.20210824), buil

[2021-09-16 20:14] ghisvail commented on #26
Honestly, don't bother with GTK-2. It's more than deprecated at this point and Qt 5 is solid, stable and supported.

[2021-09-16 20:15] yarikoptic commented on #26
Is ultimate goal to upload to Debian (and NeuroDebian) or just fee build/distribute .deb files?

[2021-09-16 20:20] ghisvail commented on #26
I guess NeuroDebian could provide it for older systems.

The default Python 3 dev package is `python3-dev` and is a virtual package pointing at the currently supported version.

Put it in `Recommends` instead.

[2021-09-16 20:22] neurolabusc commented on #26
Ultimate goal is to upload to Debian. Perhaps @ghisvail can facilitate this.

@ghisvail I have not seen `Recommends` before, thanks!

[2021-09-16 20:27] ghisvail commented on #26
In addition to `Depends` there are `Recommends` are `Suggests`. `Depends` is for hard dependencies, `Recommends` for soft dependencies providing important features, `Suggests` for soft dependencies providing non-essential features.

[2021-09-16 20:43] yarikoptic commented on #26
Then best to not bother with scripting it, but just have `debian/` folder with necessary files populated.

[2021-09-20 12:03] neurolabusc opened #27 "Separation between peaks"
The `Options` button has an item `Generate cluster table with options` which allows the user to specify thresholds for filtering data. @jpurcel8 has suggested an enhancement: providing a minimum separation between peaks to ensure they are not too close together. A reference implementation exists in [bspm](https://github.com/spunt/bspm).

[2021-09-23 09:40] hanayik opened #28 "lut to json output to match niivue lut json format"
see for examples: https://github.com/niivue/niivue/tree/main/src/cmaps

[2021-09-27 13:56] neurolabusc commented on #26
@yarikoptic I am pretty unfamiliar with Debian, so the script automates tasks like determining the version number and not including files specific to the Windows OS. The script does create a /debian folder, and then makes it into a .deb package.

@yarikoptic and  @ghisvail I have tested the [1.2.20210831](https://github.com/rordenlab/MRIcroGL/releases/tag/v1.2.20210824) deb files and they seem to

[2021-09-28 07:25] ghisvail commented on #26
I believe it will be best to start with the neurodebian builds. What do you think @yarikoptic ?

[2021-09-28 14:41] yarikoptic commented on #26
we can try -- prepare "source package" (.dsc and all files within accompanied by `.changes` file), upload to  https://mentors.debian.net/ and give me a URL. For that:

instead of generating .deb with dpkg-buildpackage or alike, use `dpkg-source` .  Then also run lintian command (from `lintian` package) on the produced .changes file.  It should be "clean" ie not report any errors and ideally no war

[2021-09-28 18:55] neurolabusc commented on #26
@yarikoptic I know you are a Debian master, but can you break this down like you were describing this to a 5 year old kid. Is there an easy way to port data from the format expected by `dpkg-deb --build` to the format expected by `dpkg-source`, and what you would recommend for a `dpkg-source` call. I tried to create a changelog file based on what I could find online, but it did not like the format

[2021-09-28 19:50] yarikoptic commented on #26
which tutorial you had in mind?  The tutorial I am aware of is https://www.debian.org/doc/manuals/packaging-tutorial/packaging-tutorial.en.pdf

changelog has specific format it should adhere to for the packaging to be "proper" and so dpkg-changelog understands it etc. `dch` helper tool could be used to manipulate it from command line.  E.g. we use it in our elderly backporting script: https://gith

[2021-09-28 20:12] neurolabusc commented on #26
@yarikoptic is the `dpkg-source` approach required for getting a package in a future release of Ubuntu and other Debian repositories, or can it be done with the `dpkg-deb` approach. My simple script can compile from source to multiple architectures (x86-64, PowerPC, ARM64), to multiple widget sets (gtk2, gtk3, qt5) using `dpkg-deb`. The `dpkg-source` approach seems to contain an awful lot of organ

[2021-09-28 20:17] yarikoptic commented on #26
it cannot be done for official upload to Debian (or NeuroDebian for that reason).  I hear you that you would feel that using "home brewed" build process + `dpkg-deb` would be "leaner", but it would be "ad-hoc".  If your build infrastructure is "standard", `debian/rules` would really be tiny, and the only "burden" is maintaining list of build and run dependencies and recommendations within `debian/

[2021-09-28 23:07] neurolabusc commented on #26
@yarikoptic can you share the source folders created by NeuroDebian for `mricron` and `micron-data` so I can use them as a template (feel free to a google drive link of a compressed archive to my email address).

[2021-09-29 14:44] yarikoptic commented on #26
mricron is maintained by debian-med now so it is available on https://salsa.debian.org/med-team/mricron/-/tree/master/debian (that is already the `debian/` folder with all "debian packaging materials" which is just added on top of imported to branch `upstream` your source release).

from that single source package both `mricron` and `mricron-data` binary packages are produced.  See https://salsa.d

[2021-09-29 14:46] yarikoptic commented on #26
FWIW, on a debian system you can use `debcheckout mricron` to get a clone of the packaging repository (as specified in https://salsa.debian.org/med-team/mricron/-/blob/master/debian/control#L16) -- again harmonization across all packages so no need to 'google it up' for any particular one.

[2021-09-29 15:04] neurolabusc commented on #26
@yarikoptic thanks for all your help. As a newbie, the Debian packaging details seem overwhelming. But at least each component is human readable and one can comprehend it bit by bit. This is much better than the Apple black box of code signing, specific app passwords, uploading, notarizing, and stapling where each stage generates the same vague error regardless of the specific nature of the error.

[2021-09-29 15:28] yarikoptic commented on #26
oh -- I know that you are a good folk!  sorry I can't really be of much help directly ATM to take on more "endeavors", but if you get some basic `debian/` which does work for e.g. `debian/rules binary` for you (or a full `dpkg-buildpackage -uc -us -rfakeroot` invocation) -- I could have a look to help push it forward.  Alternatively/complimentary you can reach out to debian-med team to help (take

[2021-09-30 14:26] hanayik opened #29 "Is it possible to display color rectangle in colormap combo box?"
I _think_ it is [possible in pascal/lazarus](https://wiki.freepascal.org/TComboBox#Owner_drawn_ComboBox), but I don't know if that implementation would work cross platform

Here's a [reference implementation](https://github.com/niivue/niivue-ui/blob/4891e94ec31f7eddde92a370bcf3a51830845ba5/src/components/imageItem.vue#L100) in NiiVue. I'm just creating a css linear gradient style string by looping

[2021-09-30 14:47] neurolabusc commented on #29
[Preceded_image](https://wiki.freepascal.org/TComboBox#Preceded_image)

[2021-10-01 23:59] neurolabusc commented on #29
Here is a minimal working solution. It looks fine, but it does not look or act natively: you can not choose between items using the arrow keys, the currently selected item is not actively highlighted. I really like components to look native, so I am not comfortable with this solution.

[color_table_combo.zip](https://github.com/rordenlab/MRIcroGL/files/7270595/color_table_combo.zip)
![color_combo]

[2021-10-08 12:35] neurolabusc commented on #26
@ghisvail I have released a new version of MRIcroGL (v1.2.20211006). I have created .deb packages with [control files](https://github.com/rordenlab/MRIcroGL/blob/master/Debian/mricrogl-control.txt) that work with modern versions of Debian (tested with Ubuntu 18.04 and later). The code now automatically checks the folders expected by Debian for the application data as well as system versions of Pyt

[2021-10-09 15:44] neurolabusc commented on #28
Done. When user selects to save color table, it is saved to NiiVue format if the user specifies the .json filename extension.

[2021-10-09 15:44] #28 closed

[2021-10-28 12:59] rogiedodgie opened #30 "Show Header Update on New Image Load"
If possible could the 'Show Header' information get updated when if it is open when a new image is loaded in?
Roger

[2021-11-12 12:27] neurolabusc commented on #30
Included in next release.

[2021-11-12 12:27] #30 closed

[2021-11-12 12:40] neurolabusc opened #31 "colorbarcolor"
[Latest commit](https://github.com/rordenlab/MRIcroGL/issues/30) includes enhancement suggested by [Brandon Gunasekera](https://www.nitrc.org/forum/message.php?msg_id=34025) to change the colorbar color and translucency.

The new command colorbarcolor(R,G,B,A) allows you to set the color and transparency of the color bar. The text on the colorbar will be white if the specified colorbar luminance i

[2021-12-15 12:41] neurolabusc commented on #26
@ghisvail I realize you are busy, but would be happy to collaborate to see MRIcroGL as a Debian package. I have tried to update the MRIcroGL code to be similar to MRIcron, but your encyclopedic knowledge of Debian installers would be a great help.

[2022-01-12 14:45] DimitriPapadopoulos opened #32 "releases: v1.2.20211006 → v1.2.20211007"
The name of this release is incorrect. See attached screen capture:
![7-October-2021](https://user-images.githubusercontent.com/3234522/149162280-21665cdc-04ae-4bb9-aae2-4881f80c028d.png)

[2022-01-15 16:07] wtclarke opened #34 "MRIcroGL handling complex (MRS) data"
Dear Chris,

Would it be possible to include better handling for complex data types in MRIcroGL?

Recently someone reported that MRIcro couldn't load [NIfTI-MRS](https://github.com/wtclarke/mrs_nifti_standard) formatted data (created by spec2nii), see [spec2nii issue #23](https://github.com/wtclarke/spec2nii/issues/23). From testing I believe that this arises from MRS data being complex. MRIcroGL

[2022-01-16 16:08] #31 closed

[2022-01-16 16:30] neurolabusc opened #35 "macOS Python scripting"
The latest release of MRIcroGL for macOS (v1.2.20211006) transitions from using the system Python 2.7 to a statically linked Python 3.7. This is in response to deprecation of Python 2.7 and Apple's requests that applications should not use the system Python. Some users have reported that [scripting no longer works](https://www.nitrc.org/forum/message.php?msg_id=34438), though using previous versio

[2022-01-16 17:01] neurolabusc commented on #34
@wtclarke can you try out the macOS build here which will report [v1.2.20211007](https://github.com/rordenlab/MRIcroGL/releases/tag/v1.2.20211007) (or if you prefer Linux/Windows tell me). This should convert the complex value to the [absolute](https://en.wikipedia.org/wiki/Absolute_value#Complex_numbers).

1. When a user opens up complex data in FSLeyes, choosing the `Time series` option from the

[2022-01-17 08:44] wtclarke commented on #34
That version works as you said it would. Thank you! In answer to your questions:

1. I think your suggestion of being consistent between the tools makes sense. In which case, can you make it display the real?
2. I completely understand your point. Displaying spectroscopic data fully would be a significant additional feature to add, and unless you would like to, I'm certainly not requesting that. I

[2022-01-17 14:25] neurolabusc commented on #34
@wtclarke thanks for the examples. I updated the macOS dmg to display there real component for `DT_COMPLEX64 ` (32) and `DT_COMPLEX128` (1792) [datatypes](https://nifti.nimh.nih.gov/pub/dist/src/niftilib/nifti1.h). Unless there are any concerns, this will be part of the next release for all platforms.

It does not support `DT_COMPLEX256` or `DT_FLOAT128`, but nor does [AFNI](https://nifti.nimh.nih

[2022-01-17 17:50] pauldmccarthy commented on #34
Hi @neurolabusc and @wtclarke, M1 conda packages have not yet been built for FSLeyes, although I think most if not all dependencies should be available by now, so I should be able to get M1 packages built for the next version.

In the meantime, you should be able to install FSLeyes on an M1 platform by using an x86-based conda distribution.

[2022-01-17 17:52] neurolabusc commented on #34
OK. Closing the issue for both MRIcroGL and the FSLeyes plugin.

[2022-01-17 17:52] #34 closed

[2022-01-18 11:05] wtclarke commented on #34
Thanks @neurolabusc and @pauldmccarthy !

[2022-02-03 11:59] PibeChorro opened #36 "Slice numbers all over the place in mosaic on Ubuntu 20.04 LTS"
Dear rordenlab,
the the mosaic function is really cool and I like it even better, that I can script it in python.
However, when I save the image (either using File > save Bitmap or using gl.savebmp) the slice numbers are all over the place, depending on the size of my window.

I am running MRIcroGL on a newly set up Ubuntu (20.04. LTS), placed it in `/opt` and created a mricorgl.desktop file (don'

[2022-02-03 13:27] PibeChorro commented on #36
Unfortunately not. I tried to play around with it, but setting it to 1, sets the resolution down to 382*249 pixels (4*2 slices, smaller if less slices) and the numbers are not visible. It is pretty pixelated, but zooming in I see some white pixels that might be the slice numbers (but not where they are supposed to be).

I also plan to work with the image later in inkscape (labeling and so on), but

[2022-02-08 14:39] neurolabusc commented on #36
@PibeChorro  can you check this [version](https://github.com/rordenlab/MRIcroGL/releases/tag/v1.2.20211007) and see if it resolves your issue?

[2022-02-08 14:51] PibeChorro commented on #36
Yes it does! Great thank you

[2022-02-28 04:26] JeffreyWardman opened #37 "Python option to adjust overlay depth"
Is it possible to include the following option:

[code]

[2022-02-28 14:50] neurolabusc commented on #37
I assume you want to change the `overlayDepth` property of the render shader. For shader properties, you can call them by name:
[code]

[2022-02-28 22:32] JeffreyWardman commented on #37
Thanks @neurolabusc! That's exactly what I was after. Cheers!

[2022-02-28 22:32] #37 closed

[2022-03-18 16:19] yarikoptic opened #39 "resolves symlinks to .git/annex/-ed content"
user reported that when opening a git-annex'ed file, mricrogl shows the filename of the resolved file which is a long git-annex key:
![image](https://user-images.githubusercontent.com/39889/159041648-f4c70ae2-bc8c-4e9a-81a4-350eae3df881.png)

I wonder if there could be an option to avoid resolving symlinks either globally or for specific files?  Thanks in advance!

[2022-03-18 16:25] yarikoptic opened #40 "option to display a specified number of leading paths in the file navigator pane"
related to #39 as an option to adjust display of filenames an example of which I use here
![image](https://user-images.githubusercontent.com/39889/159042475-214b0c60-57c8-45fc-9127-945c554ef5ab.png)

if I have a following filenames structure

[code]
opening both of them at the same time would just show two `mni152` entries in the pane, making it impossible to distinguish between the two.  It would

[2022-03-18 16:40] neurolabusc commented on #40
Hover the mouse over the filename in the Layers panel to see the full path.

[2022-03-18 17:07] yarikoptic commented on #40
seeing full path while hovering is good, but not really a solution since would require mental power to keep mapping from "hovering session" in mind while looking at the paths in the pane.

[2022-03-21 13:10] neurolabusc commented on #39
@yarikoptic can you provide a simple demo of this issue. I wonder if it is the operating system itself that is resolving the filenames, hiding the symlink name from the user and MRIcroGL. macOS graphical applications must live in a sandbox, and the OS tends to be pretty explicit about filenames to protect the user from phishing exploits.

[2022-04-04 07:29] #32 closed

[2022-04-08 02:42] gourdchen commented on #37
That's exactly what I was need, which could be added in the command.md.

[2022-04-08 15:58] yarikoptic commented on #39
ha -- apparently the reproducer I had in mind didn't reproduce. @jungheejung reproduced by
- open mricrogl in finder
- it came up with mni152 already
- then clicked on "Add overlay" in the menu, and selected one of those files from the example above -- and she reproduced the image.

[2022-04-08 20:14] neurolabusc commented on #39
@yarikoptic I am unable to replicate on my ARM based M1 MacBook. I can not install datalad. The simple `brew install datalad` failed which suggested I should run  `brew install --build-from-source datalad` which failed and suggested I should try `brew install --build-from-source git-annex` which seems to have been stuck at the same point for a tremendously long time:

[code]

I suggest we defer th

[2022-04-08 21:53] yarikoptic commented on #39
Thanks for trying !  Unfortunately indeed there is a problem building git-annex on M1 https://github.com/datalad/datalad/issues/5701 and thus we lack builds for it at https://github.com/datalad/git-annex/issues/61 .  I bet we could easily reproduce it without involving git-annex/datalad by simply symlinking some file manually and seeing what name mricrogl would use (original one of symlink or the

[2022-04-19 20:03] yarikoptic commented on #39
BTW @neurolabusc -- rosetta is the quick workaround for now on how to make git-annex available on M1.  Some instructions are at https://github.com/fraimondo/csguide-hands-on#problem-3--git-annex-on-m1-mac and our datalad-installer would install rosetta on such beasts.  I have tested on our m1 instance -- seems to work nicely.

[2022-05-11 06:05] haibinswe opened #41 "MIP render"
It looks like that MIP rendering results in a 3D image, and the image can be rotated or flipped from any angle. So if the MIP rendering results a 3D image, can we save that 3D image into Nifti format image? If not, why the MIP rendering looks like a 3D image?

[2022-05-11 11:00] neurolabusc commented on #41
The [Maximum Intensity Projection](https://en.wikipedia.org/wiki/Maximum_intensity_projection) takes a 3D image as input and generates a 2D image as output. It is like a 2D Xray that only detects the brightest object in the path of each ray. Since MIP renderings are 2D, it makes sense to save them as 2D images like PNG rather than 3D volumes like NIfTI. As the wikipedia page shows, you can make a

[2022-05-12 04:05] haibinswe commented on #41
So what we actually see from the MIP rendering in MRIcroGL is a 2D image or 2D projection,  Although  there is a 3D contour in the MIP rendering? And I want to know what happened when I rotated the MIP rendering images, maybe the image is 2D MIP image generated from the rotated 3D volume, or generated from the ray that parallel to our viewpoint?

[2022-05-13 11:15] neurolabusc commented on #41
The Maximim intensity projection [MIP](https://pubs.rsna.org/doi/abs/10.1148/radiographics.17.2.9084083?journalCode=radiographics) is records the brightest value from the perspective of the camera, regardless of depth. The appearance depends on the brightness of the voxels and the position of the camera.
![mip](https://user-images.githubusercontent.com/8930807/168271587-776eb850-5fbc-4e66-b171-ad3

[2022-05-24 23:00] #41 closed

[2022-05-24 23:01] neurolabusc commented on #29
Its a nice idea, but MRIcroGL strives to use native widgets.

[2022-05-24 23:01] #29 closed

[2022-07-28 22:53] emilyharriott opened #42 "Get MNI coordinates of cluster of intensely bright voxels?"
Dear MRIcroGL experts,

Summary:
I would like to obtain the MNI coordinates of the center of a cluster of particularly intensely bright voxels. I see that I can get the X,Y,Z coordinates of a cluster of particularly intensely bright voxels but would like to know how to get the MNI coordinates of that cluster. How can I do that?

More information:
I am working on a dataset of ~100 participants with

[2022-07-29 11:10] neurolabusc commented on #42
First of all, to get meaningful results each individuals images need to be normalized. When we first acquire MRI data, the spatial coordinates refer to the location relative to the isocenter of the magnet, so there will be a lot of variability between people depending on how there head was oriented in the head coil. I would use the [Clinical toolbox](https://www.nitrc.org/projects/clinicaltbx/) to

[2022-08-09 06:50] kytk opened #43 "Incompatibility of v1.2.20220720 with Ubuntu 18.04 circumstance"
Thank you for continuous development of MRIcroGL.

I installed the latest version (v1.2.20220720) on both Ubuntu 18.04 and Ubuntu 20.04.

Though MRIcroGL runs without any problems on Ubuntu 20.04, it fails with Ubuntu 18.04 with the following error;

[code]

(Both MRIcroGL and MRIcroGL_QT result in the same error.)

The shipped version of libc6 on Ubuntu 18.04 is 2.27 whereas the latest MRIcroGL r

[2022-08-09 23:22] neurolabusc commented on #43
@kytk can you tell me if the `MRIcroGL_linux1804.zip` [build](https://github.com/rordenlab/MRIcroGL/releases/tag/v1.2.20220720) works for you. I built this on a headless machine, so I am not sure it works. Beware of glibc prior to [2.29](https://github.com/madler/pigz/issues/68) for heavily multi-threaded usage.

[2022-08-09 23:46] kytk commented on #43
@neurolabusc Thank you for your prompt work! MRIcroGL_linux1804.zip works without any problems. Much appreciated.

[2022-08-09 23:46] #43 closed

[2022-08-10 00:22] #35 closed

[2022-08-10 00:25] neurolabusc commented on #43
@kytk can you tell me if the menu items in the Scripting/Templates folder work? There were reports that scripting did not work on [Ubuntu 18.04](https://www.nitrc.org/forum/message.php?msg_id=35736) for older MRIcroGL releases.

[2022-08-10 00:43] kytk commented on #43
@neurolabusc

It works. I selected Scripting -> Templates -> {basic, clip, cluster, glass, invert, mip} and everything went smoothly!

I also checked that Scripting -> {New, Save, Open} and found no problems.

[2022-08-24 01:51] dicemt opened #44 "Borg_Error for large t (4th dimension) nii.gz files in Windows"
I have encountered a display/load error (_Borg_Error_) for large 4D nii.gz files in Windows.
Although I still cannot figure out the exact situations that lead to this error, I have seen the latest MRIcroGL (1.2.20220720) sometimes fails to load large t (4th dimension) nii.gz files and shows _Borg_Error_.

Some (marginal) info:
- The older 1.2.20211006 version has no Borg_Error issues in the same e

[2022-08-29 15:00] neurolabusc commented on #44
Can you re-download and test the [latest release](https://github.com/rordenlab/MRIcroGL/releases/tag/v1.2.20220720) it will now report version 1.2.20220720c. If this works for you, I can refresh downloads on NITRC.

[2022-08-30 13:02] #44 closed

[2022-09-03 12:42] neurolabusc commented on #39
@yarikoptic I have not forgotten this. I am still unable to install the datalad on my computer.

[code]

[2022-09-06 22:21] yarikoptic commented on #39
what if you **do not** try to `--build-from-source` ?  IIRC it was just a matter of `/usr/sbin/softwareupdate --install-rosetta --agree-to-license` and then installing .dmg. At least that is what I did and what is described in that URL I referred and I believe what https://github.com/datalad/datalad-installer/blob/master/src/datalad_installer.py would do for you if you run it as `python datalad_in

[2022-09-07 12:57] neurolabusc commented on #39
@yarikoptic what .dmg are you referring to? The [installer](https://github.com/datalad/datalad-installer) does not include a dmg file?

Seems like I must install from source:

[code]

[2022-09-07 13:18] neurolabusc commented on #39
@yarikoptic what .dmg are you referring to? The [installer](https://github.com/datalad/datalad-installer) does not include a dmg file?

Seems like I must install from source:

[code]

[2022-09-07 13:40] yarikoptic commented on #39
you can download dmg from https://github.com/datalad/git-annex/releases/tag/10.20220822 .  I believe that `datalad_installer git-annex -m datalad/git-annex:release` would do that for you.

[2022-09-07 14:03] neurolabusc commented on #39
Looks like this installs git-annex but

[code]

A `git-annex.app` file is created in my Application folder when the dmg is installed either by the datalad_installer or clicking on the dmg icon. However, in both case the executable fails to run:

[code]

[2022-09-07 14:13] neurolabusc commented on #39
I think [this is relevant](https://github.com/datalad/datalad/issues/5701). No override appears on the`Security and Privacy` Systems Preferences panel.

While one user reported that `--build-from-source` worked for them, it is noted that compiler version matters and it did not work for me with clang 12.0.5 (others suggest using LLVM/Clang 12 over 13).

[2022-09-07 14:22] yarikoptic commented on #39
did that resolve the issue so that you could run installed git annex or not?

[2022-09-07 14:41] neurolabusc commented on #39
No, installing the dmg leads to the `no suitable image found` error. Attempting to install from source leads to a `ghc: could not execute: opt`, presumably since the Apple Clang/LLVM installation does not include that optimizer.

[2022-10-06 06:14] TamerGezici opened #45 "Saving T1 + spmT overlay as a single combined nifti file"
Is it possible to save a T1 (added through open file) and it's spmT overlay (added as an overlay) together as a single nifti file? So that the T1 image is modified to have itself along with the activation maps of the spmT.nii file?

[2022-10-06 06:18] neurolabusc commented on #45
To do this, you have to fix the high precision scalar values as a low precision RGB image. Beyond MRIcroGL, NiiVue and FSLeyes, very few NIfTI viewers support RGB NIfTI. Not sure what problem you are trying to solve. You may want to describe your applicaition. Better to preserve the precision of your statistical map.

[2022-10-06 06:22] TamerGezici commented on #45
Thanks a lot for your prompt response.

We need activation maps in subject space as a single NifTI or .IMA for a patient who will undergo awake craniotomy. We plan to upload the image to the neuronavigation system which is used in the operating theater. This way will precisely know where to stimulate with the rod and it's relation to the fMRI activation map. The machine either accepts NifTI or .IM

[2022-10-06 06:28] TamerGezici commented on #45
I don't know if it would accept RBG NIfTI files, I havent tried that. We can try if it loads the visible human. All I know so far is that it can load NIfTI files.

[2022-10-06 06:29] TamerGezici commented on #45
Nevertheless, we can test and see if it would load RGB NIfTI files. How can I generate it such way? The statistical precision is not that important for now I guess. We are more interested in the spatial accuracy.

[2022-11-08 14:34] TamerGezici opened #46 "MRIcroGL overlay render depth"
Hi,

On MRIcron, when you do a render the brain is opaque, so you only see the surface activation.

However on MRIcroGL, when you do "surface overlay" the brain is transparent, so you see activation deep inside as well.

The issue is, when you modify the "overlay depth" it does not specify how deep you are looking into the cortex. Can someone please tell me how much in mm/cm does the overlay depth

[2022-11-08 15:02] neurolabusc commented on #46
Use the `OverlaySurface` shader to make the background image completely opaque so overlays only appear if they are on the surface of the background image. Try the Scripting/Templates/cutout Python script for an example of this approach.

For the `Default` shader, the `overlayDepth` slider controls the opacity of the background image, which influences the amount of attenuation the background image

[2022-11-09 15:15] JohannesWiesner opened #47 "Opening .nii files with MRIcroGL does not work: failed to load function PyLong_FromUnicode"
Hi! I got a fresh installation of MRIcroGL on an Ubuntu 22.04 laptop. I would like to make MRIcroGL the default application for opening `.nii` and `.nii.gz` files. However, when I right click on a `.nii` file and select MRIcroGL as application for opening, I get the following error:

![image](https://user-images.githubusercontent.com/48254290/200867982-7690a838-52fb-47cd-8cb1-dba06dd0f28d.png)

Pr